/*Directions*/
.direction_rtl{
    direction: rtl !important;
}

.direction_ltr{
    direction: ltr !important;
}
/*./Directions*/


/*Text-aligns*/
.text_align_right{
    text-align: right !important;
}

.text_align_left{
    text-align: left !important;
}

.text_align_center{
    text-align: center !important;
}
/*./Text-aligns*/



/*Float*/
.float_right{
    float: right !important;
}

.float_left{
    float: left !important;
}
/*./Float*/


/*Colors*/
.color_white{
    color: #fff !important;
}
.color_red{
    color: red !important;
}
/*./Colors*/


/*Fonts*/
.font_bold{
    font-weight: bold;
}
/*./Fonts*/


/*Remove Margins*/
.remove_margin_top
{
    margin-top: 0px !important;
}
.remove_margin_right
{
    margin-right: 0px !important;
}
.remove_margin_bottom
{
    margin-bottom: 0px !important;
}
.remove_margin_left
{
    margin-left: 0px !important;
}
/*Remove Margins*/


/*Remove Padding*/
.remove_padding_top
{
    padding-top: 0px !important;
}
.remove_padding_right
{
    padding-right: 0px !important;
}
.remove_padding_bottom
{
    padding-bottom: 0px !important;
}
.remove_padding_left
{
    padding-left: 0px !important;
}
/*Remove Margins*/