body{
    background: #eee;
    font-family:"Tahoma";
    direction: rtl;
}

p{
    margin: 0 0 0px !important;
}

.padd-left{padding-left: 0 !important;}
.padd-right{padding-right: 0 !important;}


.date{
    float: right;
    /*margin: 5px 0 5px 25px;*/
    font-size: 13px;
}


.lang a{
    display: block;
    margin: 5px 0;
    color: #000;
}


header{
    background: #3d589b;
    padding: 8px 0;
}

.logo{
    color: #fff;
    text-transform: capitalize;
}


.box-login input[type="text"],
.box-login input[type="password"]{
    width: 100%;
    background: #fff;
    border: 0;
    padding: 5px;
}

.box-login label{
    color: #fff;
    text-transform: capitalize;
    font-weight: normal;
}

.box-login input[type="submit"]{
    color: #fff;
    margin: 22px 0 0 0;
    display: block;
    text-transform: capitalize;
}


.forgood{
    margin: 50px 0;
    text-align: center;
}

.forgood img{
    width: 150px;
    margin: 0 0 50px 0;
}

.forgood label{
    width: 100%;
    text-align: left;
    font-weight: normal;
    text-transform: uppercase;
}

.forgood p{
    text-align: left;
}


.date-pagee{
    margin: 15px 0;
    display: block;
    overflow: hidden;
}


.send-mail{
    background: #fff;
    /*margin: 25px 0;*/
    border-radius: 5px;
    overflow: hidden;
    /*min-height: 150px;*/
}


.send-mail > .heading_panel{
    margin: 0 0 0px 0;
    background: #ddd;
    padding: 15px 15px;
    border-radius: 5px 5px 0 0;
    text-transform: capitalize;
    font-size: 19px;
    height: 56px;
    font-weight: bold;
}

.send-mail textarea{
    margin: 0 25px;
    width: 90%;
    border: 0;
}


.send_custom_email{
    float: right;
    /*margin: 25px;*/
    background: transparent;
    border: 0;
    color: #3d589b;
    font-size: 18px;
    text-transform: capitalize;
}

.send-mail p{
    text-align: right;
    padding: 15px;
}

.send_email_header{
    width: 100%;
    display: inline-flex;
}

.box-logout{
    text-align: center;
}

.box-logout > h1{
        color: #000;
    margin: 15px 0 0 0;
    font-size: 24px;
}

.email_body{
    resize: vertical;
}

.logout_footer{
    background-color: #333;
    height: 100px;
    margin-top: 10%;
    color: #fff !important;
    padding: 43px;
}

.logout_footer a{
    color: #fff !important;
}

.top_nav_dates{
    padding-top: 10px;
}

.header_logo{
    padding-top: 11px;
}

.logout_link{
    background-color: coral;
}

.paragraph_content{
    background-color: #f1f1fb;
}

.cashier_img_box{
    width: 33%;
}

.cashier_img_box2{
    width: 60%;
}

.cashier_div_box a:hover{
    text-decoration: none;
}
.menu .accordion-heading {
    position: relative;
    border-left: 4px solid #f38787;
    padding: 10px;
    margin: 5px 0;
}

.menu .accordion-heading:hover{
    background: #eee;
}

.menu .accordion-heading .edit {
    position: absolute;
    top: 8px;
    right: 30px;
}

.menu .collapse.in {
    overflow: visible;
}


.menu .accordion-body {
    padding-left: 30px;
}


.menu .nav>li:hover{
    background: #eee;
}

.menu .nav>li>a{
    display: inline-block;
}

.menu .nav>li{
    display: block;
    border-left: 4px solid #96f34a;
    margin: 5px 0;
}

.menu .nav .open>a,
.menu .nav .open>a:focus,
.menu .nav .open>a:hover,
.menu .nav>li>a:focus,
.menu .nav>li>a:hover{
    background-color: transparent !important;
}


.add_new_acc_category{
    position: relative;
    border-left: 4px solid #f38787;
    padding: 10px;
    margin: 5px 0;
    display: block;
}


.panel-heading{
    font-weight: bolder;
}

.main_menu_panel_heading{
    cursor: pointer;
}
hr{
    width: 100%;
    height:1px;
}

.selected_individual_item{
    margin: 3px;
    padding: 5px;
    display: inline-block;
}

.selected_individual_item a{
    color: #FFF;
}

.selected_individual_item a:hover {
    color: #FFF;
    text-decoration: none;
}

.alert-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.select2-container {
    width: 100% !important;
}

.show_collapse_hand{
    cursor: pointer !important;
}

.hide_div{
    display: none;
}

input[type='text'],
input[type='number']
{
    color: #000 !important;
}

.panel-default>.panel-heading{
    text-align: right;
}

.panel-primary>.panel-heading{
    text-align: right;
}

.form-group label{
    float: right;
}

.panel-info>.panel-heading{
    text-align: right;
}

#save_form .btn-lg{
    padding: 5px 0 9px 0;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    /*margin: 15px auto;*/
    /*width: 89%;*/
    display: block;
    text-align: center;
    font-size: 14px;
    border-radius: 0;
}


.menu{
    direction: rtl;
}


.menu .accordion-heading{
        border-right: 4px solid #f38787;
        border-left:0;
        
}

.menu .nav>li{
    border-left: 0;
    border-right: 4px solid #96f34a;
}


.add_new_acc_category{
        border-right: 4px solid #f38787;
        border-left:0;
        
}


.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group input[type="password"],
.form-group select,
.form-group textarea
{
    border-radius: 0;
    border: 1px solid #ddd;
    box-shadow: 0 0 0;
    text-align: right;
    height: 40px;
}


.panel-default>.panel-heading {
    color: #000;
    background-color: #ddd;
}

.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #3d589b;

}

.dropdown-menu>li>a{
    text-align: right;
}


.table-bordered{
     direction: rtl;
    text-align: center;   
}

.table-bordered thead tr th{
    text-align: center;
    
}



.box-logout{
    background: #fff;
    height: 80px;
    padding: 10px 0 0 0;
}

.box-logout h3{
     margin: 0;
    color: #000;   
}

.box-logout p{
     color: #000;   
}

.header_logo{
    padding-top: 0;
}

.logo img{
    width: auto;
    height: 75px;
}

header{
    padding: 0;
}


.box-login{
     overflow: hidden;
    padding: 15px 0;
    direction: rtl;   
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav {
    padding-right: 0;
}

.menu .accordion-body {
    padding-right: 30px;
}

.panel-heading{
    direction: rtl;
}


.form-control{
    direction: rtl;
}

.sf-dump{
    direction: ltr;
}
div.dataTables_wrapper {
    direction: rtl;
}




/* Ensure that the demo table scrolls */
.table_datatable th,.table_datatable td { white-space: nowrap; }
.table_datatable div.dataTables_wrapper {
    margin: 0 auto;
}

#cat_table th,#cat_table td { white-space: nowrap; }
#cat_table div.dataTables_wrapper {
    margin: 0 auto;
}

.input-group .input-group-addon,.input-group input{
    border-radius:0px ;
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 1px !important;
}


