.cheque-box{
    max-width:800px;
    margin:auto;
    /*padding:30px;*/
    border:1px solid #eee;
    box-shadow:0 0 10px rgba(0, 0, 0, .15);
    font-size:16px;
    line-height:24px;
    font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color:#555;
    position: relative;
}


@media print {
    body * {
        visibility: hidden;
    }

    .cheque-box , .cheque-box *{
        visibility: visible;
    }
    .cheque-box {
        position: fixed;
        left: 0px;
        top: 0px;
        border: hidden;
        box-shadow: none;
    }

    /*remove cheque image*/
    .cheque_template_img{
        visibility: hidden;
    }

    /*.cheque table tr.top table td{*/
        /*width:100%;*/
        /*display:block;*/
        /*text-align:center;*/
    /*}*/

    /*.invoice-box table tr.information table td{*/
        /*width:100%;*/
        /*display:block;*/
        /*text-align:center;*/
    /*}*/


}